.btn{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    
}

.form-input{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}