
.btn{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    
}

.form-input{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

.header {
    padding: 10rem 0;
    font-size: 1.2rem;
    font-weight:normal;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-menu ul{
    list-style: none; 
    margin: 0;
    padding: 0;

}

.main-menu li{
    text-align: center;
    margin-right: 15px;
    margin-bottom: 5rem;
    border-bottom: 2px solid black;
    padding: 1.2rem;
}

.main-menu li:hover{
    transition: 0.6s;
    font-size: 1.5rem;
}

.main-menu li:last-child{
    margin-right: 0;
}
.main-menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.container{
    max-width: 30%;
    margin: 0 auto;
    vertical-align: middle;
}


.feedback-form div{
    margin: 10px;
}