body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.calc-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    width: 480px;
    height: 480px;
    border: 2px solid black;
    border-radius: 5%;
    overflow: hidden;
}

.screen {
    height: 100px;
    width: 100%;
    background-color: #E55137;
    border-bottom: 2px solid black;
    text-align: right;
    overflow: auto;
}

.result_screen, .buttons_screen {
    margin: 0 10% 0;
    padding-top: 2%;
}

.buttons_screen {
    color: white;
}

.result_screen {
    color: #ffbdb1;
}

.bigger {
    color: white;
    font-size: 3rem;
    margin: auto 5px;
}

.hide {
    display: none;

}

.screen > span {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.buttons {
    padding: 0 0.2rem;
    width: 100%;
    height: 380px;
    display: flex;
    flex-shrink: 1;
}

.digits {
    width: 290px;
    height: 100%;
    border-right: 2px solid black;
}

.other {
    width: 200px;
    height: 100%;
}

.key {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box; 
}

.key:active {
    box-shadow: 0px 0px 2px 2px rgb(121, 121, 121) inset;
}

#overflowWarning {
    width: 500px;
    text-align: center;
}

.btn {
    color: black;
    background-color: transparent;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

