@media print{
    .sidebar, .scroll-to-top-btn, .header{
        display: none;
    }

    .products-list{
        justify-content: center;
    }
    
    .products-category-header{
        text-align: center;
    }

    .control .btn{
        border: 1px solid black;
        color: black;
    }
}