*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

body::after{
    content: "";
    display: block;
    height: 55px;
}

.header{
    background-color: #ff6600;
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

.main-menu ul li{
    display: inline;
    margin-right: 0.625rem;
    color: white;
}

.main-menu ul li:last-child{
    margin-right: 0;
}

.main-menu a, .profile a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.main-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.container{
    max-width: 95%;
    margin: 0 auto;
}

.btn-search{
    border-radius: 5px;
    padding: 15px;
    background-color: #ff6600;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.sidebar{
    padding: 1rem 0;
    width: 15rem;
}

.sidebar-section{
    border: none;
    margin-bottom: 5rem;
    padding-bottom: 0;
}

.sidebar-section:last-child{
    margin-bottom: 0;
}

.sidebar-section legend{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.page-content{
    padding: 1rem;
}

.task-card{
    display: flex;
    height: 20rem;
    width: 20rem;
    border: 4px solid #ff6600;
    border-radius: 5px;

}

.task-details{
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.task-details header{
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(110, 110, 110);
    font-style: italic;
}

.task-details .information{
    text-align: justify;
    font-size: 1.125rem;
    height: 65%;
    overflow: auto;
    color: black;
}

.task-details .control{
    text-align: center;
}

.task-details .btn{
    font-size: 1rem;
    color: #ff6600;
    border-radius: 5px;
    outline: none;
    border: solid 1px black;
    padding: 0;
    overflow: hidden;
}

.task-details .btn span{
    display: inline-block;
    padding: 0.625rem 1.25rem;
}

.task-details .btn .done{
    background-color: white;
    color: black;
    font-weight: bold;
}

.task-details .btn .ignore{
    background-color: #dc3545;
    font-weight: bold;
    color: white;
}

.footer{
    background-color: rgb(255, 255, 255);
    padding: 1rem 0;
    border-top: 5px solid #ff6600;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.d-flex{
    display: flex;
}

.profile{
    margin-left: auto;
}

.task-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.calendar-input{
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

.ul-search{
    padding: 0;
}

.ul-search label{
    padding-left: 1rem;
}

.ul-search li{
    list-style: none;
    margin: 0.4rem;
}

.center{
    text-align: center;
}

.emoji{
    font-style: normal;
    font-size: 1rem;
}

.active-tab{
    padding: 0 5px 3px 5px;
    border-bottom: 2px solid white;
}

@media all and (max-width: 768px){ 
    
    .main-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .main-menu ul li {
        margin-bottom: 1rem;
    }

    .direction-column{
        flex-direction: column;
    }

    .profile{
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .task-list{
        justify-content: center;
    }

    .task-category-header{
        text-align: center;
    }

    main{
        align-items: center;
    }

    .task-card{
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        height: 100%;
    }

    .task-details{
        height: auto;
    }

    .header{
        position: static;
    }

    .sidebar-section{
        border: none;
        margin-bottom: 1rem;
        padding-bottom: 0;
    }
    
}