@font-face {
	font-family: 'UndertaleFont'; 
	src: local('UndertaleFont'),
		url(fonts/Undertale-Battle-Font.ttf); 
}

body {
    font-family: 'UndertaleFont'!important;
}

.header-text {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.gradient {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}